* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

dl, ol, ul {
  padding-left: 0;
  margin-bottom: auto !important;
}

p {
  margin-bottom: 0;
}

button {
  border: none;
  cursor: 0;
}

iframe {
  border: 0;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=color]):not([type=button]):not([type=reset]):focus,
select:focus,
textarea:focus,
textarea[type=text]:focus {
  outline: none;
}

.main_container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background: #FFF;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}
.header .main_container {
  position: relative;
  padding: 11px 10px 14px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav_link {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .nav_item {
  color: #757F88;
  font-family: "Factor A", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .nav_item_left {
  text-align: right;
  max-width: 150px;
}
.header .nav_item_right {
  text-align: left;
  max-width: 150px;
}
.header .header_contact a {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: 158px;
  height: 37px;
  border-radius: 30px;
  color: #FFF;
  font-family: "DIN Pro", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-color: #FF5600;
}
.header .header_contact a img {
  width: 18px;
}
.header .burger_btn {
  background-color: transparent;
  cursor: pointer;
}
.header .menu {
  display: none;
  width: 300px;
  position: absolute;
  top: 100%;
  right: 10px;
  border-radius: 0px 0px 16px 16px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px #BFCEFF;
  padding: 26px 16px 12px 30px;
}
.header .menu .menu_close {
  position: absolute;
  right: 16px;
  top: 23px;
  background-color: transparent;
}
.header .menu .menu_in li {
  margin-bottom: 24px;
}
.header .menu .menu_in li a {
  display: flex;
  align-items: center;
  gap: 13px;
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.2s ease;
}
.header .menu .menu_in li a:hover {
  color: #757F88;
}
.header .menu.active {
  display: block;
}

@media only screen and (max-width: 768px) {
  .header .main_container {
    padding: 7px 10px;
  }
  .header .logo img {
    width: 52px;
  }
  .header .nav_item_right,
  .header .nav_item_left {
    display: none;
  }
  .header .header_contact a {
    width: 130px;
    height: 30px;
    font-size: 18px;
  }
  .header .header_contact a img {
    width: 15px;
  }
  .header .burger_btn {
    width: 28px;
  }
}
@media only screen and (max-width: 365px) {
  .header .main_container {
    position: relative;
  }
  .header .main_container .menu {
    width: 80%;
  }
}
#magazine_home {
  background-image: url("../images/magazine_dektop_img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#magazine_home .breadcrumb {
  padding-top: 26px;
  padding-bottom: 45px;
}
#magazine_home .breadcrumb ul li a, #magazine_home .breadcrumb ul li span {
  color: #B1B1B1;
  font-family: "Factor A", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#magazine_home .main_container .magazine_home_in {
  padding-bottom: 183px;
}
#magazine_home .main_container .magazine_home_in h1 {
  max-width: 863px;
  color: #FFF;
  font-family: "Factor A", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 53px;
  padding-bottom: 21px;
}
#magazine_home .main_container .magazine_home_in .magazine_date {
  margin-bottom: 21px;
}
#magazine_home .main_container .magazine_home_in p {
  max-width: 939px;
  color: rgb(255, 255, 255);
  font-family: Factor A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}

.magazine_text {
  margin-top: 60px;
}
.magazine_text p {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 34px;
}

.footer {
  border-top: 10px solid #C5D3FF;
  background-color: #082665;
  padding: 74px 0 61px 0;
}
.footer .main_container .footer_top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 85px;
  gap: 15px;
}
.footer .main_container .footer_top_left {
  display: flex;
  flex-direction: column;
}
.footer .main_container .footer_top_left .footer_left_in {
  display: flex;
  align-items: start;
  gap: 46px;
}
.footer .main_container .footer_top_left ul li {
  width: 87px;
  margin-bottom: 24px;
}
.footer .main_container .footer_top_left ul li a {
  width: 100%;
  color: #FFF;
  font-family: "Factor A", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .main_container .footer_top_left .footer_messenger {
  display: block;
  width: 100%;
}
.footer .main_container .footer_top_center p {
  max-width: 348px;
  margin-bottom: 24px;
  color: #7789B5;
  font-family: "Factor A", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .main_container .footer_top_right .download_app {
  margin-bottom: 28px;
}
.footer .main_container .footer_top_right p {
  margin-bottom: 34px;
  color: #7789B5;
  max-width: 240px;
  font-family: "Factor A", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}
.footer .main_container .footer_top_right p span {
  display: block;
  color: #fff;
}
.footer .main_container .footer_bottom p {
  color: #7789B5;
  font-family: "Factor A", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 20px 0 37px 0;
  }
  .footer .main_container .footer_top {
    justify-content: center;
    margin-bottom: 42px;
  }
  .footer .main_container .footer_top .footer_top_left .footer_left_in {
    gap: 63px;
  }
  .footer .main_container .footer_top .footer_top_left .footer_left_in ul li {
    margin-bottom: 14px;
  }
  .footer .main_container .footer_top .footer_top_left .footer_messenger {
    margin-top: 13px;
  }
  .footer .main_container .footer_top .footer_top_center {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .footer .main_container .footer_top {
    gap: 0;
    max-width: 220px;
    margin: 0 auto;
    flex-direction: column;
  }
  .footer .main_container .footer_top_left ul li {
    font-size: 12px;
  }
  .footer .main_container .footer_top_left .footer_messenger {
    margin-bottom: 48px;
    display: flex;
    gap: 3px;
    justify-content: center;
  }
  .footer .main_container .footer_top_right .download_app {
    display: flex;
    gap: 8px;
    margin-bottom: 13px;
  }
  .footer .main_container .footer_top_right .download_app img {
    width: 85px;
  }
  .footer .main_container .footer_top_right p {
    font-size: 12px;
    margin-bottom: 29px;
  }
  .footer .main_container .footer_top_right p span {
    font-size: 12px;
  }
  .footer .main_container .footer_bottom p {
    font-size: 12px;
    margin-top: 13px;
  }
}/*# sourceMappingURL=style.css.map */