* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

dl, ol, ul {
  padding-left: 0;
  margin-bottom: auto !important;
}

p {
  margin-bottom: 0;
}

button {
  border: none;
  cursor: 0;
}

iframe {
  border: 0;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=color]):not([type=button]):not([type=reset]):focus,
select:focus,
textarea:focus,
textarea[type=text]:focus {
  outline: none;
}

.main_container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background: #FFF;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}
.header .main_container {
  position: relative;
  padding: 11px 10px 14px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav_link {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .nav_item {
  color: #757F88;
  font-family: "Factor A", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .nav_item_left {
  text-align: right;
  max-width: 150px;
}
.header .nav_item_right {
  text-align: left;
  max-width: 150px;
}
.header .header_contact a {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: 158px;
  height: 37px;
  border-radius: 30px;
  color: #FFF;
  font-family: "DIN Pro", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-color: #FF5600;
}
.header .header_contact a img {
  width: 18px;
}
.header .burger_btn {
  background-color: transparent;
  cursor: pointer;
}
.header .menu {
  display: none;
  width: 300px;
  position: absolute;
  top: 100%;
  right: 10px;
  border-radius: 0px 0px 16px 16px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px #BFCEFF;
  padding: 26px 16px 12px 30px;
  z-index: 10;
}
.header .menu .menu_close {
  position: absolute;
  right: 16px;
  top: 23px;
  background-color: transparent;
}
.header .menu .menu_in li {
  margin-bottom: 24px;
}
.header .menu .menu_in li a {
  display: flex;
  align-items: center;
  gap: 13px;
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.2s ease;
}
.header .menu .menu_in li a:hover {
  color: #757F88;
}
.header .menu.active {
  display: block;
}

@media only screen and (max-width: 768px) {
  .header .main_container {
    padding: 7px 10px;
  }
  .header .logo img {
    width: 52px;
  }
  .header .nav_item_right,
  .header .nav_item_left {
    display: none;
  }
  .header .header_contact a {
    width: 130px;
    height: 30px;
    font-size: 18px;
  }
  .header .header_contact a img {
    width: 15px;
  }
  .header .burger_btn {
    width: 28px;
  }
}
@media only screen and (max-width: 365px) {
  .header .main_container {
    position: relative;
  }
  .header .main_container .menu {
    width: 80%;
  }
}
#home_2 {
  background: linear-gradient(90deg, #FAFBFF 0%, #BECEFF 100%);
  overflow: hidden;
}
#home_2 .main_container {
  position: relative;
  padding-top: 24px;
  padding-bottom: 76px;
}
#home_2 .contact_home_wrapper {
  padding-bottom: 49px;
}
#home_2 .examples_home_wrapper {
  padding-bottom: 103px;
}
#home_2 .breadcrumbs {
  padding-bottom: 62px;
  position: relative;
  z-index: 1;
}
#home_2 .breadcrumbs li a, #home_2 .breadcrumbs li span {
  color: #6E9ABF;
  font-family: "Factor A", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#home_2 .home_wrapper .home_left {
  max-width: 602px;
}
#home_2 .home_wrapper .home_img {
  position: absolute;
  right: 10px;
  top: 47px;
  border-radius: 20px 0px;
  overflow: hidden;
  z-index: 1;
}
#home_2 .home_wrapper .title {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 17px;
  position: relative;
  z-index: 1;
}
#home_2 .home_wrapper .description {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  position: relative;
  z-index: 1;
}
#home_2 .home_wrapper .description a {
  color: #1D5DEB;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  white-space: nowrap;
}
#home_2 .bg_number {
  color: #FFF;
  font-family: "DIN Pro", sans-serif;
  font-size: 290.534px;
  font-style: normal;
  font-weight: 900;
  line-height: 20.049px;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  opacity: 0.5;
  transform: rotate(-17.049deg);
  top: 160px;
  white-space: nowrap;
}
#home_2 .price_home_wrapper {
  padding-bottom: 69px;
}
#home_2 .price_home_wrapper .home_left {
  max-width: 737px;
}
#home_2 .prices_home_wrapper {
  padding-bottom: 74px;
}
#home_2 .prices_home_wrapper .home_left {
  max-width: 737px;
}

#magazine_home {
  background-image: url("../images/magazine_dektop_img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#magazine_home .breadcrumb {
  padding-top: 26px;
  padding-bottom: 45px;
}
#magazine_home .breadcrumb ul li a, #magazine_home .breadcrumb ul li span {
  color: #B1B1B1;
  font-family: "Factor A", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#magazine_home .main_container .magazine_home_in {
  padding-bottom: 183px;
}
#magazine_home .main_container .magazine_home_in h1 {
  max-width: 863px;
  color: #FFF;
  font-family: "Factor A", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 53px;
  padding-bottom: 21px;
}
#magazine_home .main_container .magazine_home_in .magazine_date {
  margin-bottom: 21px;
}
#magazine_home .main_container .magazine_home_in p {
  max-width: 939px;
  color: rgb(255, 255, 255);
  font-family: Factor A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}

.magazine_text {
  margin-top: 60px;
}
.magazine_text p {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 34px;
}

#reference .links {
  padding-top: 40px;
  padding-bottom: 50px;
}
#reference .links a {
  color: #1D5DEB;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  border-bottom: 1px solid transparent;
  -o-border-image: url("../images/link_border_img.png");
     border-image: url("../images/link_border_img.png");
  border-image-slice: 20;
  border-image-repeat: round;
}
#reference .main_title {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
#reference .main_description {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 50px;
  max-width: 964px;
}
#reference .last_main_description {
  margin-bottom: 91px;
}

#chapter .chapter_cards {
  gap: 41px 45px;
  margin-top: 54px;
  margin-bottom: 80px;
}
#chapter .chapter_cards .card_item {
  background-image: url("../images/chapter_card_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 25px 11px 21px 26px;
  border-radius: 12px;
  overflow: hidden;
  width: calc(33.3333333333% - 30px);
  margin: 0;
}
#chapter .chapter_cards .card_item .card_title {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  margin: 20px 0 8px;
}
#chapter .chapter_cards .card_item ul li {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

#contact .address {
  margin-bottom: 50px;
}
#contact .address .title {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 50px 0 40px;
}
#contact .address .address_data {
  gap: 38px;
}
#contact .address .address_name {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
#contact .address .address_value {
  color: #1D5DEB;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
#contact .map iframe {
  width: 100%;
}
#contact .contact_card {
  width: 100%;
  margin: 50px 0 91px;
}

#clients .clients_container {
  padding-top: 50px;
  padding-bottom: 121px;
}
#clients .main_title {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
#clients .main_description {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 30px;
  max-width: 950px;
}
#clients .main_description a {
  text-decoration-line: underline;
}

#journal .journal_cards {
  gap: 33px 44px;
  margin-top: 80px;
  margin-bottom: 91px;
}
#journal .journal_cards .card_item {
  width: calc(33.3333333333% - 29.3333333333px);
  border-radius: 15px;
  overflow: hidden;
}
#journal .journal_cards .card_item img {
  height: 188px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#journal .journal_cards .card_item .card_item_body {
  background: linear-gradient(90deg, #FAFBFF 0%, #BECEFF 100%);
  padding: 14px 20px;
}
#journal .journal_cards .card_item .card_item_body .date {
  color: #757F88;
  font-family: "Factor A", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
#journal .journal_cards .card_item .card_item_body .card_description {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

#examples .tab {
  gap: 44px;
  margin: 50px 0 40px;
}
#examples .tab a {
  color: #1D5DEB;
  text-align: center;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
#examples .tab a:not(.active) {
  border-bottom: 1px solid transparent;
  border-image-source: url("../images/tab_border.png");
  border-image-slice: 20;
  border-image-repeat: round;
}
#examples .tab a.active {
  color: #000;
  text-align: center;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding: 6px 20px;
  border-radius: 20px;
  background: #E1E8FF;
}
#examples .main_title {
  color: #0B1F33;
  text-align: center;
  font-family: "Factor A", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 17px;
}
#examples .main_description {
  color: #757F88;
  text-align: center;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  max-width: 1024px;
  margin: 0 auto 41px;
}
#examples .card_wrapper {
  gap: 41px 44px;
  margin-bottom: 91px;
}
#examples .card_wrapper .card_item {
  width: calc(50% - 22px);
  background: linear-gradient(90deg, #FAFBFF 0%, #BECEFF 100%);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
#examples .card_wrapper .card_item .card_2 {
  z-index: 1;
}
#examples .card_wrapper .card_item img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
#examples .card_wrapper .card_item .example_card_2_pagination {
  position: absolute;
  left: 0;
  top: 240px;
  width: 100%;
  height: 15px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#examples .card_wrapper .card_item .example_card_2_pagination span {
  opacity: 1;
  margin: 0;
  padding: 0;
  min-width: 15px;
  height: 15px;
  background: #E1E8FF;
}
#examples .card_wrapper .card_item .example_card_2_pagination .swiper-pagination-bullet-active {
  background: #1D5DEB;
}
#examples .card_wrapper .card_item .text {
  padding: 20px 20px 25px;
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

#price .text_wrapper {
  gap: 46px;
  margin: 50px auto 121px;
}
#price .text_wrapper .text_left {
  width: 51.1240632806%;
}
#price .text_wrapper .text_left ul, #price .text_wrapper .text_left ol {
  padding-left: 13px;
}
#price .text_wrapper .text_left ul li, #price .text_wrapper .text_left ol li {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
#price .text_wrapper .text_left ol, #price .text_wrapper .text_left ol li {
  list-style: decimal;
  margin-left: 13px;
  padding-left: 5px;
}
#price .text_wrapper .text_right {
  width: 45.0457951707%;
}
#price .text_wrapper .description {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
#price .text_wrapper .description.title {
  margin-bottom: 5px;
  margin-top: 19px;
}
#price .text_wrapper .description.last {
  margin-top: 16px;
}
#price .text_wrapper .main_title {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 31px;
}
#price .text_wrapper .main_title_2 {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 30px;
}
#price .text_wrapper .data_list {
  border-radius: 16px;
  border: 1px solid #DFDFDF;
  padding: 16px 0 28px;
  margin-bottom: 63px;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#price .text_wrapper .data_list .datas {
  padding: 10px 30px;
  gap: 60px;
  min-height: 60px;
}
#price .text_wrapper .data_list .datas:nth-child(even) {
  background: #F8FAFF;
}
#price .text_wrapper .data_list .datas .data_name {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
#price .text_wrapper .data_list .datas .data_value {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
#price .text_wrapper .data_list .datas .data_value.free {
  color: #36495B;
}
#price .text_wrapper .links {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 5px;
}
#price .text_wrapper .links a {
  color: #1D5DEB;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

#prices .cards {
  gap: 30px 52px;
  padding-top: 80px;
  padding-bottom: 91px;
}
#prices .cards .card_item {
  width: calc(33.3333333333% - 34.6666666667px);
  border-radius: 15px;
  overflow: hidden;
}
#prices .cards .card_item .card_img {
  height: 184px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#prices .cards .card_item .card_text {
  min-height: 114px;
  background: linear-gradient(90deg, #FAFBFF 0%, #BECEFF 100%);
  padding: 15px 20px;
}
#prices .cards .card_item .text_title {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  max-width: 288px;
  margin-bottom: 5px;
}
#prices .cards .card_item .text_subtitle {
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

#rates .cards {
  padding-top: 80px;
  padding-bottom: 132px;
  gap: 37px;
  position: relative;
  overflow: hidden;
}
#rates .cards .card_item {
  background-image: url("../images/rates_card_bg.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  width: calc(33.3333333333% - 24.6666666667px);
  border-radius: 12px;
}
#rates .cards .card_content {
  padding: 53px 21px 40px 30px;
  position: relative;
  z-index: 2;
}
#rates .cards .card_alert {
  position: absolute;
  border-radius: 0px 0px 5px 5px;
  background: #1D5DEB;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #FFF;
  font-family: "Factor A", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  width: 142px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
}
#rates .cards .card_title {
  color: #0B1F33;
  text-align: center;
  font-family: "Factor A", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 17px;
}
#rates .cards .card_subtitle {
  color: #757F88;
  text-align: center;
  font-family: "Factor A", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  max-width: 263px;
  margin: 0 auto 28px;
}
#rates .cards ul li {
  display: flex;
  align-items: flex-start;
  gap: 7px;
  color: #0B1F33;
  font-family: "Factor A", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
#rates .cards ul li.title {
  margin-top: 20px;
  margin-bottom: 8px;
}
#rates .cards ul li.title_1 {
  margin-bottom: 20px;
}
#rates .cards ul li.title_2 {
  margin-bottom: 6px;
}
#rates .cards ul li.title_3 {
  margin-bottom: 10px;
}
#rates .cards .link {
  width: 158px;
  height: 37px;
  border-radius: 29.867px;
  background: #FF5600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.75px;
  margin: 0 auto;
  margin-top: 30px;
}
#rates .cards .link span {
  color: #FFF;
  font-family: "DIN Pro", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
#rates .cards .card_number {
  color: #FFF;
  font-family: "DIN Pro", sans-serif;
  font-size: 290.534px;
  font-style: normal;
  font-weight: 900;
  line-height: 20.049px;
  text-transform: uppercase;
  opacity: 0.5;
  white-space: nowrap;
  position: absolute;
  top: 355px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

@media only screen and (min-width: 992px) {
  #examples .card_1 {
    margin-bottom: 151px;
  }
  #examples .card_1 .swiper-wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px 44px;
  }
  #examples .card_1 .swiper-wrapper .swiper-slide {
    width: calc(33.3333333333% - 29.3333333333px);
  }
  #examples .card_1 .swiper-wrapper .card_content {
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(90deg, #FAFBFF 0%, #BECEFF 100%);
  }
  #examples .card_1 .swiper-wrapper .card_content img {
    height: 188px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #examples .card_1 .swiper-wrapper .card_content .text {
    color: #0B1F33;
    font-family: "Factor A", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding: 20px 46px 22px 20px;
  }
  #examples .example_card_1_pagination {
    display: none;
  }
}
.footer {
  border-top: 10px solid #C5D3FF;
  background-color: #082665;
  padding: 74px 0 61px 0;
}
.footer .main_container .footer_top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 85px;
  gap: 15px;
}
.footer .main_container .footer_top_left {
  display: flex;
  flex-direction: column;
}
.footer .main_container .footer_top_left .footer_left_in {
  display: flex;
  align-items: start;
  gap: 46px;
}
.footer .main_container .footer_top_left ul li {
  width: 87px;
  margin-bottom: 24px;
}
.footer .main_container .footer_top_left ul li a {
  width: 100%;
  color: #FFF;
  font-family: "Factor A", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .main_container .footer_top_left .footer_messenger {
  display: block;
  width: 100%;
}
.footer .main_container .footer_top_center p {
  max-width: 348px;
  margin-bottom: 24px;
  color: #7789B5;
  font-family: "Factor A", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .main_container .footer_top_right .download_app {
  margin-bottom: 28px;
}
.footer .main_container .footer_top_right p {
  margin-bottom: 34px;
  color: #7789B5;
  max-width: 240px;
  font-family: "Factor A", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}
.footer .main_container .footer_top_right p span {
  display: block;
  color: #fff;
}
.footer .main_container .footer_bottom p {
  color: #7789B5;
  font-family: "Factor A", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 20px 0 37px 0;
  }
  .footer .main_container .footer_top {
    justify-content: center;
    margin-bottom: 42px;
  }
  .footer .main_container .footer_top .footer_top_left .footer_left_in {
    gap: 63px;
  }
  .footer .main_container .footer_top .footer_top_left .footer_left_in ul li {
    margin-bottom: 14px;
  }
  .footer .main_container .footer_top .footer_top_left .footer_messenger {
    margin-top: 13px;
  }
  .footer .main_container .footer_top .footer_top_center {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .footer .main_container .footer_top {
    gap: 0;
    max-width: 220px;
    margin: 0 auto;
    flex-direction: column;
  }
  .footer .main_container .footer_top_left ul li {
    font-size: 12px;
  }
  .footer .main_container .footer_top_left .footer_messenger {
    margin-bottom: 48px;
    display: flex;
    gap: 3px;
    justify-content: center;
  }
  .footer .main_container .footer_top_right .download_app {
    display: flex;
    gap: 8px;
    margin-bottom: 13px;
  }
  .footer .main_container .footer_top_right .download_app img {
    width: 85px;
  }
  .footer .main_container .footer_top_right p {
    font-size: 12px;
    margin-bottom: 29px;
  }
  .footer .main_container .footer_top_right p span {
    font-size: 12px;
  }
  .footer .main_container .footer_bottom p {
    font-size: 12px;
    margin-top: 13px;
  }
}
@media only screen and (max-width: 1050px) {
  #home_2 .home_wrapper .home_left {
    max-width: 500px;
  }
  #chapter .chapter_cards .card_item {
    width: calc(50% - 22.5px);
  }
}
@media only screen and (max-width: 992px) {
  #home_2 .main_container {
    padding-top: 0;
    padding-bottom: 0;
  }
  #home_2 .breadcrumbs {
    padding-bottom: 9px;
  }
  #home_2 .breadcrumbs li a, #home_2 .breadcrumbs li span {
    font-size: 11px;
  }
  #home_2 .home_wrapper .home_img {
    position: static;
    margin-bottom: 20px;
  }
  #home_2 .home_wrapper .home_img img {
    width: 100%;
  }
  #home_2 .home_wrapper .title {
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  #home_2 .home_wrapper .description, #home_2 .home_wrapper .description a {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 16px;
  }
  #home_2 .bg_number {
    transform: rotate(0);
    position: static;
    text-align: center;
    font-size: 80px;
    line-height: 20.049px;
    margin-bottom: 15px;
  }
  #reference .links {
    padding-top: 23px;
    padding-bottom: 30px;
  }
  #reference .links li {
    margin-bottom: 15px;
  }
  #reference .links a {
    font-size: 12px;
    line-height: 0px;
  }
  #reference .main_title {
    font-size: 20px;
  }
  #reference .main_description {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 21px;
  }
  #reference .last_main_description {
    margin-bottom: 50px;
  }
  #journal .journal_cards .card_item {
    width: calc(50% - 22px);
  }
  #examples .example_main_container {
    overflow: hidden;
  }
  #examples .card_1 {
    overflow: visible;
    margin-bottom: 18px;
  }
  #examples .card_1 .card_content {
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(90deg, #FAFBFF 0%, #BECEFF 100%);
  }
  #examples .card_1 .card_content img {
    width: 100%;
    height: 188px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #examples .card_1 .card_content .text {
    color: #0B1F33;
    font-family: "Factor A", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding: 10px 10px 21px;
  }
  #examples .example_card_1_pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 86px;
  }
  #examples .example_card_1_pagination span {
    margin: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    background: #DFE6FE;
    opacity: 1;
  }
  #examples .example_card_1_pagination .swiper-pagination-bullet-active {
    background: #1D5DEB;
  }
  #price .text_wrapper {
    flex-direction: column;
  }
  #price .text_wrapper .text_left, #price .text_wrapper .text_right {
    width: 100%;
  }
  #prices .cards .card_item {
    width: calc(50% - 26px);
  }
  #rates .cards {
    gap: 20px;
  }
  #rates .cards .card_item {
    width: 100%;
  }
  #rates .cards .card_number {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  #chapter .chapter_cards {
    margin-top: 43px;
    margin-bottom: 50px;
    gap: 20px;
  }
  #chapter .chapter_cards .card_item {
    width: 100%;
  }
  #chapter .chapter_cards .card_item .card_title {
    font-size: 14px;
  }
  #chapter .chapter_cards .card_item ul li {
    font-size: 12px;
  }
  #contact .address {
    margin-bottom: 27px;
  }
  #contact .address .title {
    font-size: 20px;
    margin: 23px 0 20px;
  }
  #contact .address .address_data {
    gap: 20px;
  }
  #contact .address .address_name {
    font-size: 12px;
    line-height: 18px;
  }
  #contact .address .address_value {
    font-size: 12px;
    line-height: 18px;
    display: block;
  }
  #contact .map iframe {
    height: 274px;
  }
  #contact .contact_card {
    margin: 20px 0 50px;
  }
  #clients .clients_container {
    padding-top: 23px;
    padding-bottom: 30px;
  }
  #clients .main_title {
    font-size: 20px;
  }
  #clients .main_description {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  #journal .journal_cards {
    gap: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #journal .journal_cards .card_item {
    width: 100%;
  }
  #journal .journal_cards .card_item img {
    height: 141px;
  }
  #journal .journal_cards .card_item .card_item_body .date {
    font-size: 11px;
  }
  #journal .journal_cards .card_item .card_item_body .card_description {
    font-size: 12px;
    line-height: 18px;
  }
  #examples .tab {
    gap: 30px;
  }
  #examples .tab a {
    font-size: 12px;
  }
  #examples .tab a.active {
    font-size: 12px;
    padding: 0px 15px;
  }
  #examples .main_title {
    font-size: 20px;
    margin-bottom: 4px;
  }
  #examples .main_description {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 26px;
  }
  #examples .card_wrapper {
    gap: 20px;
    margin-bottom: 50px;
  }
  #examples .card_wrapper .card_item {
    width: 100%;
  }
  #examples .card_wrapper .card_item img {
    height: 176px;
  }
  #examples .card_wrapper .card_item .example_card_2_pagination {
    top: 141px;
    height: 10px;
  }
  #examples .card_wrapper .card_item .example_card_2_pagination span {
    min-width: 10px;
    height: 10px;
  }
  #examples .card_wrapper .card_item .text {
    font-size: 12px;
    line-height: 18px;
  }
  #price .text_wrapper {
    margin: 23px auto 50px;
    gap: 30px;
  }
  #price .text_wrapper .description {
    font-size: 12px;
    line-height: 18px;
  }
  #price .text_wrapper .main_title {
    font-size: 20px;
  }
  #price .text_wrapper .main_title_2 {
    font-size: 16px;
  }
  #price .text_wrapper .text_left ul li, #price .text_wrapper .text_left ol li {
    font-size: 12px;
  }
  #price .text_wrapper .data_list {
    margin-bottom: 30px;
    margin-top: 0;
  }
  #price .text_wrapper .data_list .datas {
    gap: 30px;
    padding: 10px 20px;
  }
  #price .text_wrapper .data_list .datas .data_name {
    font-size: 12px;
  }
  #price .text_wrapper .data_list .datas .data_value {
    font-size: 12px;
    white-space: nowrap;
  }
  #price .text_wrapper .links {
    margin-right: 40px;
  }
  #price .text_wrapper .links a {
    font-size: 12px;
    line-height: 18px;
  }
  #prices .cards {
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 40px;
  }
  #prices .cards .card_item {
    width: 100%;
  }
  #prices .cards .card_item .card_text {
    min-height: 88px;
  }
  #prices .cards .card_item .text_title {
    font-size: 12px;
    margin-bottom: 0;
  }
  #prices .cards .card_item .text_subtitle {
    font-size: 12px;
  }
  #rates .cards {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  #rates .cards .card_title {
    font-size: 20px;
    margin-bottom: 6px;
  }
  #rates .cards .card_content {
    padding: 40px 35px 40px 21px;
  }
  #rates .cards .card_alert {
    width: 117px;
    height: 27px;
    font-size: 12px;
  }
  #rates .cards .card_subtitle {
    font-size: 12px;
    margin-bottom: 24px;
  }
  #rates .cards ul li {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */