section.splide#slider
    .splide__track 
        ul.splide__list
            li.splide__slide
                img(src="./assets/img/", alt="")
            li.splide__slide
                img(src="./assets/img/", alt="")
            li.splide__slide
                img(src="./assets/img/", alt="")