doctype html
html(lang="en")
    include ../includes/head

    body 
        include ../includes/header
        #clients 
            include ../includes/home
            +home(
                    'last_home_wrapper',
                    [
                        {name: "Главная", url: "/"},
                        {name: "Клиентам"}
                    ],
                    'Клиентам',
                    `Здесь мы собрали для вас всю необходимую информацию по тем или иным вопросам взаимодействия с нами. О том, как оплатить наши услуги, о гарантиях, по документам и прочее.`,
                    './images/clients_home_card.png',
                    ""
                )
            
            .main_container.clients_container 
                .main_title По оплате наших услуг
                .main_description Оплата услуг по тарифу «Минимум» производится непосредственно на месте аварийному комиссару наличными или картой. Оплата по тарифу «Стандарт» и услуг по тарифу «Максимум» по эвакуации, помощи со страховыми выплатами и ремонтом после ДТП возможна: наличными, картой, по счету.
                .main_title По гарантиям
                .main_description 
                    | Как такового понятия Гарантия на оформление документов по ДТП не существует. Они сразу оформляются правильно. Гарантии на ремонт после ДТП предоставляются и регламентируются следюущими нормативными актами:
                    br
                    br
                    | Федеральный закон от 25.04.2002 N 40-ФЗ (ред. от 28.12.2022)
                    br
                    | "Об обязательном страховании гражданской ответственности владельцев транспортных средств" (с изм. и доп., вступ. в силу с 15.07.2023)
                    br
                    | Минимальный гарантийный срок на работы по восстановительному ремонту поврежденного транспортного средства составляет 6 месяцев, а на кузовные работы и работы, связанные с использованием лакокрасочных материалов, 12 месяцев.
                    br
                    br
                    | Постановление Правительства РФ от 11.04.2001 N 290 (ред. от 31.01.2017)
                    br
                    | "Об утверждении Правил оказания услуг (выполнения работ) по техническому обслуживанию и ремонту автомототранспортных средств"
                    br
                    | В случае, когда предусмотренный договором гарантийный срок составляет менее 2 лет и недостатки оказанной услуги (выполненной работы) обнаружены потребителем по истечении гарантийного срока, но в пределах двух лет, потребитель вправе предъявить требования, предусмотренные пунктом 40 настоящих Правил, если докажет, что такие недостатки возникли до принятия им результата оказанной услуги (выполненной работы) или по причинам, возникшим до этого момента.
                .main_title По документам
                .main_description 
                    | Как такового понятия Гарантия на оформление документов по ДТП не существует. Они сразу оформляются правильно. Гарантии на ремонт после ДТП предоставляются и регламентируются следюущими нормативными актами:
                .main_title Куда пожаловаться?
                .main_description 
                    | Сожалеем, что в этом возникла необходимость. Cообщить о неточностях в оказании услуг можно на любой стадии, написав на почту 
                    a(href="#") 111@111.ru
                .main_title Согласие на обработку ПД
                .main_description.last_description 1111111

        include ../includes/footer