doctype html
html(lang="en")
    include ../includes/head
    body 
        include ../includes/header
        
        section.home 
            .home_wrapper 
                .bg_number 50-50-50
                .home_img 
                    img(src="./images/home_img.png", alt="")
                .home_text 
                    h1 Городская служба аварийных комиссаров Калининграда
                    p Срочная помощь в оформлении ДТП. Выезд бесплатный в течении 15 минут.
                    .home_btns 
                        a(href="tel:505050")
                            img(src="./images/phone_icon.svg", alt="")
                            | 50-50-50 
                        img.icon(src="./images/home_icon.svg", alt="")

                    .home_bottom 
                        .home_bottom_block 
                            span Что делать при ДТП?
                            span Как работает Служба
                        .home_bottom_block 
                            span Чем и как мы Вам поможем?
                            span Примеры работы Службы
                        .home_bottom_block 
                            span Вызвать ГИБДД, Скорую
                            span Прочие вопросы

        section.accident 
            .main_container 
                h2 Что делать при ДТП?
                p Чтобы правильно оформить ДТП следуйте инструкции:

                .swiper.index_card_1.accident_in 
                    .swiper-wrapper
                        .swiper-slide
                            a(href="#").accident_card 
                                span.circle
                                span.number 1
                                p Заглушите двигатель и не меняйте положение автомобиля.
                        .swiper-slide
                            a(href="#").accident_card 
                                span.circle
                                span.number 2
                                p Включите аварийную сигнализацию.
                        .swiper-slide
                            a(href="#").accident_card 
                                span.circle
                                span.number 3
                                p Выставьте знак аварийной остановки на 15 метров от ДТП.
                        .swiper-slide
                            a(href="#").accident_card 
                                span.circle
                                span.number 4
                                p 
                                    | Вызовите аварийного комиссара позвонив на #[br]
                                    span 50-50-50
                                    | . 
                        .swiper-slide
                            a(href="#").accident_card 
                                span.circle
                                span.number 5
                                p Далее следуйте подсказкам полученым от нашего оператора.
                .scheme_work_3_pagination

        section.assistance 
            .main_container 
                h2 Как работает наша служба помощи при ДТП

                .swiper.assistance_slider.assistance_in
                    .swiper-wrapper
                        .swiper-slide 
                            .assistance_card 
                                img(src="./images/assistance1.png", alt="")
                                img.icon(src="./images/chevron_right.svg", alt="")
                                h4 Звонок
                                p Ваш звонок примет оператор и направит к Вам ближайшего комиссара.
                        .swiper-slide 
                            .assistance_card 
                                img(src="./images/assistance_slide_2.svg", alt="")
                                img.icon(src="./images/chevron_right.svg", alt="")
                                h4 Ожидание
                                p Дождитесь приезда нашего аварийного комиссара. Он будет в течении 15 минут.
                        .swiper-slide 
                            .assistance_card 
                                img(src="./images/assistance_slide_3.svg", alt="")
                                img.icon(src="./images/chevron_right.svg", alt="")
                                h4 Оценка
                                p После прибытия на место ДТП комиссар приступит к оценке ситуации.
                        .swiper-slide 
                            .assistance_card 
                                img(src="./images/assistance_slide_4.svg", alt="")
                                img.icon(src="./images/chevron_right.svg", alt="")
                                h4 Оформление
                                p Принимаются решения, ДТП правильно оформляется с ГИБДД или без него.
                        .swiper-slide 
                            .assistance_card 
                                img(src="./images/assistance_slide_5.svg", alt="")
                                img.icon.last(src="./images/chevron_right.svg", alt="")
                                h4 Помощь
                                p После оформления Вы получаете ту или иную помощь от нашей службы.
                .assistance_slider_pagination

        section.help 
            .main_container 
                h2 Чем и как мы Вам поможем?
                p Мы окажем Вам свесторонню помощь и будем защищать Ваши интересы.

                .bg_number 50-50-50

                .help_in 
                    .help_card 
                        img(src="./images/help_icon.svg", alt="")

                        p Если это возможно, оформим ДТП без участия ГИБДД.
                    .help_card 
                        img(src="./images/help_icon.svg", alt="")

                        p Если без ГИБДД нельзя, то вызовем из нужного района.
                    .help_card 
                        img(src="./images/help_icon.svg", alt="")

                        p Проведем замеры, фото и видео фиксацию места ДТП без ошибок.
                    .help_card 
                        img(src="./images/help_icon.svg", alt="")

                        p Максимально честно оформим ДТП, поможем с эвакуацией авто.
                    .help_card 
                        img(src="./images/help_icon.svg", alt="")

                        p Полностью возьмем на себя все заботы по страховой компании.
                    .help_card 
                        img(src="./images/help_icon.svg", alt="")

                        p Сразу выплатим ущерб или отремонтируем Ваш автомобиль.

        .main_container.index_card_in_wrapper
            .cards_in.index_card_in
                h2.cards_in_title Услуги аварийного комиссара в Калининграде служба «50-50-50»
                .swiper-wrapper 
                    .swiper-slide
                        a(href="#").card_item 
                            img.card_img(src="./images/prices_card_1.png", alt="")
                            .card_text 
                                .text_title Выезд аварийного комиссара #[br] на место ДТП
                                .text_subtitle Бесплатно
                    .swiper-slide
                        a(href="#").card_item 
                            img.card_img(src="./images/prices_card_2.png", alt="")
                            .card_text 
                                .text_title Фото и видеофиксация места ДТП
                                .text_subtitle Бесплатно при заказе оформления
                    .swiper-slide
                        a(href="#").card_item 
                            img.card_img(src="./images/prices_card_3.png", alt="")
                            .card_text 
                                .text_title Консультация и оформление ДТП
                                .text_subtitle 900 рублей
                    .swiper-slide
                        a(href="#").card_item 
                            img.card_img(src="./images/prices_card_4.png", alt="")
                            .card_text 
                                .text_title Эвакуация авто с места ДТП
                                .text_subtitle Бесплатно
                    .swiper-slide
                        a(href="#").card_item 
                            img.card_img(src="./images/prices_card_5.png", alt="")
                            .card_text 
                                .text_title Подготовка документов для обращения в страховую компанию
                                .text_subtitle От  1 000 рублей
                    .swiper-slide
                        a(href="#").card_item 
                            img.card_img(src="./images/prices_card_6.png", alt="")
                            .card_text 
                                .text_title Юридическое сопровождение по последствиям ДТП
                                .text_subtitle От  1 000 рублей
                    .swiper-slide
                        a(href="#").card_item 
                            img.card_img(src="./images/prices_card_7.png", alt="")
                            .card_text 
                                .text_title Независимая экспертиза повреждений автомобиля
                                .text_subtitle От 4 000 рублей
                    .swiper-slide
                        a(href="#").card_item 
                            img.card_img(src="./images/prices_card_8.png", alt="")
                            .card_text 
                                .text_title Ремонт автомобиля после ДТП
                                .text_subtitle В зависимости от повреждений
            .scheme_work_4_pagination

        section.real_company 
            .main_container 
                h2 Полностью легальная и реальная компания
                p Служба аварийных комиссаров «50-50-50» — полностью локальная калининградская компания с реальным, а не фейковым офисом, опытом, людьми, отзывами и сданными делами.
                .swiper.real_company_cards
                    .swiper-wrapper
                        .swiper-slide
                            .real_company_card 
                                img(src="./images/real_company1.svg", alt="")
                                h5 Юрлицо
                                p ИП Кириченко Сергей Викторович
                                    br
                                    | ИНН 390500303344
                                    br
                                    | ОГРНИП 31039251660004
                                a(href="#") Проверить
                        .swiper-slide
                            .real_company_card 
                                img(src="./images/real_company2.svg", alt="")
                                h5 Юрлицо
                                p ИП Кириченко Сергей Викторович
                                    br
                                    | ИНН 390500303344
                                    br
                                    | ОГРНИП 31039251660004
                                a(href="#") Проверить
                        .swiper-slide
                            .real_company_card 
                                img(src="./images/real_company3.svg", alt="")
                                h5 Юрлицо
                                p ИП Кириченко Сергей Викторович
                                    br
                                    | ИНН 390500303344
                                    br
                                    | ОГРНИП 31039251660004
                                a(href="#") Проверить

                .real_company_cards_pagination

                .bg_number 50-50-50

        #examples.examples.example_index
            .main_container.example_main_container
                h4 Примеры работы комиссаров и ремонта после ДТП
                p Здесь вы найдете примеры работы наших комиссаров, а также примеры восстановления авто после ДТП в нашем собственном автосервисе.
                .tab.d-flex.justify-content-center.align-items-center
                    a.active(data-id="pills-home") Работа аваркомов
                    a(data-id="pills-profile") Ремонт после ДТП 
                .tab-content#pills-tabContent
                    .tab-pane.fade.show.active#pills-home(role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0")
                        .swiper.card_1.card_end 
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="#").card_content 
                                        img(src="./images/example_slide_11.png", alt="")
                                        .text Часто бывает, что даже из-за мелких царапин водители не могут договориться самостоятельно, тогда по помощь приходит (приезжает) наш человек. Если без ГИБДД нельзя, то вызовем из нужного района.

                                .swiper-slide
                                    a(href="#").card_content 
                                        img(src="./images/example_slide_22.png", alt="")
                                        .text 
                                            |Совместная работа с ГИБДД, скорой
                                            |и участниками ДТП. Эвакуированы
                                            |все авто, оформлено честно,
                                            |виновным признано. В последствии
                                            |оценка ущерба и помощь в
                                            | «выбивании» КАСКО за «тотал».
                                .swiper-slide
                                    a(href="#").card_content 
                                        img(src="./images/example_slide_33.png", alt="")
                                        .text  Оформлено без лишних эмоций и без привлечения ГИБДД по европротоколу. Нас вызвал виновник, при оформлении вину признал. Эвакуация, помощь со страховой, ремонт на нашем СТО.                                
                    .tab-pane.fade#pills-profile(role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0")
                        .swiper.card_1.card_end 
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="#").card_content 
                                        img(src="./images/example_slide_11.png", alt="")
                                        .text Часто бывает, что даже из-за мелких царапин водители не могут договориться самостоятельно, тогда по помощь приходит (приезжает) наш человек. Если без ГИБДД нельзя, то вызовем из нужного района.

                                .swiper-slide
                                    a(href="#").card_content 
                                        img(src="./images/example_slide_22.png", alt="")
                                        .text 
                                            |Совместная работа с ГИБДД, скорой
                                            |и участниками ДТП. Эвакуированы
                                            |все авто, оформлено честно,
                                            |виновным признано. В последствии
                                            |оценка ущерба и помощь в
                                            | «выбивании» КАСКО за «тотал».
                                .swiper-slide
                                    a(href="#").card_content 
                                        img(src="./images/example_slide_33.png", alt="")
                                        .text  Оформлено без лишних эмоций и без привлечения ГИБДД по европротоколу. Нас вызвал виновник, при оформлении вину признал. Эвакуация, помощь со страховой, ремонт на нашем СТО.                                
                .example_card_1_pagination
                .examples_btns 
                    a(href="#") Еще примеры

        section.newsline 
            .main_container 
                .bg_number_one 50-50-50

                .bg_number 50-50-50

                h2 Прочие вопросы

                .newsline_content 
                    a.link(href="#") Если водитель попал в ДТП, согласно пунктам 2.5; 2.6 Правил ДД, он обязан... 

                    p.text_1 Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют определения и уточнения новых предложений. Таким образом сложившаяся структура организации требуют определения и уточнения модели развития.

                    p.text_2 Стиль маркированного списка:

                    p.text_3
                        | —  Значимость этих проблем настолько очевидна #[br]
                        | —  Разнообразный и богатый опыт #[br]
                        | —  Ссоответствует насущным потребностям

                    p.text_4 Стиль нумерованного списка:

                    ol 
                        li Значимость этих проблем настолько очевидна
                        li Разнообразный и богатый опыт
                        li Ссоответствует насущным потребностям

                    p.text_5 Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Идейные соображения высшего порядка, а также консультация с широким активом представляет собой интересный эксперимент проверки форм развития.

                    .links 
                        a.link(href="#") Если Вы не согласны о схемой ДТП и данных в протоколе происшествия 
                        a.link(href="#") Каковы самые распространённые ошибки при оформении ДТП 
                        a.link(href="#") Что делать, если вы попали в аварию на арендованном автомобиле 
                        a.link(href="#") Что входит в перечень обязанностей аварийного комиссара 

                a(href="#").newsline_link.index_news_link Вся справка 

        .index_bottom 
            .main_container 
                .index_in 
                    .index_card 
                        h4 Как вызывать ГИБДД?
                        p 
                            | Наберите с мобильного 
                            span 55-25-11 
                            | – это телефон дежурной части ГИБДД Центрального района Калининграда.
                        
                        a(href="#") Вызвать ГИБДД 

                    .index_card 
                        h4 Как вызывать Скорую?
                        p 
                            | В Калининграде вызвать скорую медицинскую помощь с мобильного телефона можно по единому номеру 
                            span 103.
                        
                        a(href="#") Вызвать Скорую

                    .index_card 
                        h4 Сколько стоят услуги?
                        p 
                            | Выезд нашего аварийного комиссара на место ДТП с Вашим участием бесплатный. Стоимость комплексной помощи в фиксации и оформлении европротокола (когда ДТП оформляется без участия ГИБДД) – 900 рублей.
                        
                        a(href="#") Уточнить все цены
            
        .main_container.index_bottom_text
            img(src="./images/index_bottom_img.png", alt="") 
            .bottom_text_media 
                h2.main_title Стиль и размер h2-заголовка
                p.description Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает создание существенных финансовых и административных условий. Повседневная практика показывает, что рамки и место обучения кадров требуют определения и уточнения существенных финансовых и административных условий.
                h3.main_title_2 Стиль и размер h3-заголовка
                p.description Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют определения и уточнения новых предложений. Таким образом сложившаяся структура организации требуют определения и уточнения модели развития.
                h4.description.title Стиль маркированного списка:
                .ul 
                    p.li —  Значимость этих проблем настолько очевидна
                    p.li —  Разнообразный и богатый опыт
                    p.li —  Ссоответствует насущным потребностям
                h4.description.title Стиль нумерованного списка:
                .ol
                    p.li 1. Значимость этих проблем настолько очевидна
                    p.li 2. Разнообразный и богатый опыт
                    p.li 3. Ссоответствует насущным потребностям
                p.description.last Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Идейные соображения высшего порядка, а также консультация с широким активом представляет собой интересный эксперимент проверки форм развития.


        include ../includes/footer