doctype html
html(lang="en")
    include ../includes/head

    body 
        include ../includes/header
        #journal 
            include ../includes/home
            +home(
                    'contact_home_wrapper',
                    [
                        {name: "Главная", url: "/"},
                        {name: "Журнал"}
                    ],
                    'Журнал',
                    `Уникальный проект не имеющий аналогов в России. Ведем позновательный журнал о жизни на дорогах Калининграда. Разбираем ситуации, даём советы, констатируем факты.`,
                    './images/journal_home_bg.png',
                    ""
                )
            
            .main_container
                .journal_cards.d-flex.flex-wrap.align-items-start
                    - let arr = ["Аварийный комиссар в Калининграде о порядке действий при ДТП комиссар в Калининграде о порядке.", "Аварийный комиссар в Калининграде о порядке действий при ДТП комиссар в", "Аварийный комиссар в Калининграде о порядке действий при ДТП комиссар в", "Аварийный комиссар в Калининграде о порядке действий при ДТП комиссар в Калининграде о порядке.", "Аварийный комиссар в Калининграде о порядке действий при ДТП комиссар в","Аварийный комиссар в Калининграде о порядке действий при ДТП комиссар в"]
                    each val in arr
                        a(href="#").card_item 
                            img(src="./images/journal_card.png", alt="")
                            .card_item_body 
                                .date 20.11.2020
                                .card_description= val

        include ../includes/footer