doctype html
html(lang="en")
    include ../includes/head

    body 
        include ../includes/header
        
        .container 
            h1.bg-danger.text-white Main

        //- Salom
        include ../includes/footer