doctype html
html(lang="en")
    include ../includes/head
    body 
        include ../includes/header

        include ../includes/home
        +home(
            'last_home_wrapper',
            [
                {name: "Главная", url: "/"},
                {name: "Справка"}
            ],
            'О службе',
            'Как правило, ДТП – это не только оформление, но и последующий неприятный хвост: страховая, выплаты, ремонт. Все это можно сделать у нас, т.е. в одном месте. Это ключевой момент и основное удобство. Наша цель не заработать на оформлении «еврика» любой ценой и уехать. Работа службы выстроена так, что мы поможем Вам во всем. От оформления на месте, до возврата авто к его техническому и внешнему состоянию до злополучного дня ДТП.',
            './images/service_img.png',
            ""
        )

        section.services_history
            .main_container 
                h2 История становления лидера
                h6 Мы начинали всего с двух машин в центре Калининграда и всего за три года стали одной из ведущих служб помощи при ДТП.

                span 2019
                p Основание компании

                span 2020
                p 
                    | Открытие дополнительного «опорного» пункта на Потемкина Начало оказания услуги по независимой 
                    b оценки повреждений после ДТП
                
                span 2022
                p Открытие «опорников» на Типографской и Киевской. Старт оказания услуг по юридическому сопровождению

                span 2023
                p 
                    | Достигнуты ключевые договоренности с партнерами для оказания 
                    b услуги ремонта после ДТП
                    | еще более выгодно

        include ../includes/footer