doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title аварийный комиссар
        link(rel="stylesheet", href="./assets/fonts/FactorA/stylesheet.css")
        link(rel="stylesheet", href="./assets/fonts/DINPro/stylesheet.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
        link(rel="stylesheet", href="./assets/css/style.css")
    body 
        include ../parts/_header.pug

        block content 

        include ../parts/_footer.pug

        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
        script(src="./assets/js/app.js") 