footer.footer 
    .main_container 
        .footer_top 
            .footer_top_left 
                .footer_left_in 
                
                    ul.footer_link
                        li.footer_item
                            a(href="#") Главная
                        li.footer_item
                            a(href="#") О службе
                        li.footer_item
                            a(href="#") Услуги и цены
                        li.footer_item
                            a(href="#") Тарифы
                        li.footer_item
                            a(href="#") Примеры

                    ul.footer_link 
                        li.footer_item 
                            a(href="#") Справка
                        li.footer_item 
                            a(href="#") Клиентам
                        li.footer_item 
                            a(href="#") Журнал
                        li.footer_item 
                            a(href="#") Контакты
                
                .footer_messenger 
                    a(href="#") 
                        img(src="./images/vkontakt_icon.svg", alt="")
                    a(href="#") 
                        img(src="./images/telegram_icon.svg", alt="")

            .footer_top_center 
                p БАЗА ЗАПАД Калининград, ул. Менделеева, 61Б, корп. 2
                p БАЗА СЕВЕР 1 Калининград, ул. Горького, 170
                p БАЗА СЕВЕР 2 Калининград, ул. Потемкина, 1
                p БАЗА ВОСТОК Калининград, ул. Рихарда Зорге, 1
                p БАЗА ЦЕНТР Калининград, пер. Малый, 25
                p БАЗА ЮГ 1 Калининград, ул. Киевская, 50
                p БАЗА ЮГ 2 Калининград, ул. Типографская, 18
                    
            .footer_top_right 
                .download_app 
                    a(href="#") 
                        img(src="./images/iphone_download.svg", alt="")
                        
                    a(href="#") 
                        img(src="./images/android_download.svg", alt="")

                p Приложение «Помощник ОСАГО»:
                    span  для iOS, для Android
                p Приложение «ДТП Европротокол»:
                    span  для iOS, для Android
                p Приложение «Госуслуги Авто»:
                    span  для iOS, для Android

        .footer_bottom 
            p © 2009-2023 Индивидуальный            предприниматель Кириченко Сергей Викторович ИНН 390500303344, ОГРНИП 310392516600043. 236010. Продолжая использовать наш сайт, Вы даете согласие на обработку файлов Cookie в целях функционирования сайта, а так же сбора и анализа обезличенных статистических данных с использованием сервисов Google Analytics и Яндекс.Метрика. Все материалы данного сайта являются объектами авторского права (в том числе и дизайн). Запрещается копирование, распространение информации и изображений сайта. Сайт носит информационный характер и не является публичной офертой. По всем вопросам связанным разработкой и рекламой данного сайта в сети Интернет просьба обращаться в специализированную seo-компанию. Нормативные правовые акты, регламентирующие деятельность по обеспечению безопасности дорожного движения можно найти по сссылке.


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
script(src="./js/main.js")
script(src="./js/bootstrap.js")
script(src="./js/bootstrap-bundle.js")