.header {
    background: #FFF;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
    .main_container {
        position: relative;
        padding: 11px 10px 14px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav_link {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .nav_item {
        color: #757F88;
        font-family: $Factor;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .nav_item_left {
        text-align: right;
        max-width: 150px;
    }

    .nav_item_right {
        text-align: left;
        max-width: 150px;
    }
    
    .header_contact {
        a {
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;
            width: 158px;
            height: 37px;
            border-radius: 30px;
            color: #FFF;
            font-family: $DIN;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            background-color: #FF5600;

            img {
                width: 18px;
            }
        }
    }

    .burger_btn {
        background-color: transparent;
        cursor: pointer;
    }

    .menu {
        display: none;
        width: 300px;
        position: absolute;
        top: 100%;
        right: 10px;
        border-radius: 0px 0px 16px 16px;
        background: #FFF;
        box-shadow: 0px 4px 30px 0px #BFCEFF;
        padding: 26px 16px 12px 30px;

        .menu_close {
            position: absolute;
            right: 16px;
            top: 23px;
            background-color: transparent;
        }

        .menu_in {
            li {
                margin-bottom: 24px;

                a {
                    display: flex;
                    align-items: center;
                    gap: 13px;
                    color: $main_text;
                    font-family: $Factor;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    transition: .2s ease;

                    &:hover {
                        color: $main_text2;
                    }
                }
            }
        }
    }

    .menu.active {
        display: block;
    }
}


@media only screen and (max-width: 768px) {
    .header {

        .main_container {
            padding: 7px 10px;
        }

        .logo {
            img {
                width: 52px;
            }
        }

        .nav_item_right,
        .nav_item_left {
            display: none;
        }

        .header_contact {
            a {
                width: 130px;
                height: 30px;
                font-size: 18px;

                img {
                    width: 15px;
                }
            }
        }

        .burger_btn {
            width: 28px;
        }
    }
}

@media only screen and (max-width: 365px) {
    .header {
        .main_container {
            position: relative;
            .menu {
                width: 80%;
            }
        }
    }
}