@media only screen and (max-width: 1100px) {
    .home {
        .home_wrapper {
            flex-direction: column;
            align-items: center;

            .home_img {
                position: absolute;
                left: 0;
                width: 600px;
                top: 300px;

                img {
                    width: 100%;
                }
            }

            .home_text {
                padding-bottom: 50px;

                .home_btns {
                    margin-bottom: 350px;
                }
            }

            .bg_number {
                bottom: 13px;
            }
        }
    }
}

@media only screen and (max-width: 1050px) {
    #home_2 {
        .home_wrapper {
            .home_left {
                max-width: 500px;
            }
        }
    }

    #chapter {
        .chapter_cards {
            .card_item {
                width: calc(100% / 2 - 45px / 2);
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    #home_2 {
        .main_container {
            padding-top: 0;
            padding-bottom: 0;
        }

        .breadcrumbs {
            padding-bottom: 9px;

            li {
                a, span {
                    font-size: 11px;
                }
            }
        }

        .home_wrapper {

            .home_img {
                position: static;
                margin-bottom: 20px;
                
                img {
                    width: 100%;
                }
            }

            .title {
                font-size: 24px;
                line-height: 25px;
                margin-bottom: 10px;
            }

            .description, .description a {
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 16px;
            }
        }

        .bg_number {
            transform: rotate(0);
            position: static;
            text-align: center;
            font-size: 80px;
            line-height: 20.049px;
            margin-bottom: 15px;
        }
    }

    #price {
        .text_wrapper {
            .text_left {
                .description_top {
                    margin-bottom: 25px;
                }
            }
        }
    }

    .assistance {
        .main_container {
            overflow: hidden;

            .assistance_in {
                margin-bottom: 45px;
                overflow: visible;

                .assistance_card  {
                    p {
                        margin: 0 auto;
                        max-width: 208px;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px;
                    }
                }
            }

            .assistance_slider_pagination {
                display: flex;
                margin-bottom: 60px;
            }
        }
    }

    .accident {
        .main_container {
            overflow: hidden;

            .accident_in {
                overflow: visible;


                .accident_card {
                    padding: 10px 10px 10px 74px;
                    height: 93px;

                    .circle {
                        width: 100px;
                        height: 100px;
                        left: -40px;
                    }

                    .number {
                        left: 10px;
                        top: 21px;
                    }

                    p {
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px; 
                    }
                }
            }

            .scheme_work_3_pagination {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                gap: 10px;
                
                span {
                    margin: 0;
                    padding: 0;
                    opacity: 1;
                    width: 10px;
                    height: 10px;
                    background: #DFE6FE;
                }

                .swiper-pagination-bullet-active {
                    background: #1D5DEB;
                }
            }
        }
    }

    .help {
        padding: 52px 0;

        .main_container {
            h2 {
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 4px;
            }


            p {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                padding-bottom: 14px;
            }

            .bg_number {
                font-size: 80px;
                font-style: normal;
                font-weight: 900;
                line-height: 20.049px;
                text-transform: uppercase;
                left: 50%;
                transform: translateX(-50%);
            }

            .help_in {
                flex-direction: column;
                gap: 10px;

                .help_card {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;
                    z-index: 2;
                    gap: 10px;
                    height: auto;
                    padding: 10px;

                    img {
                        margin: 0;
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                    }

                    p {
                        padding: 0;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px;
                    }
                }
            }
        }
    }

    .index_card_in_wrapper {
        .cards_in {
            padding-top: 60px;
            .cards_in_title {
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 24px;
            }
        }
    }
	
    .scheme_work {
        .main_container {
            overflow: hidden;
        }


        .sheme_work_slider {
            overflow: visible;
            margin-bottom: 30px;
        }

        .scheme_work_1_pagination {
            margin-bottom: 60px;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                opacity: 1;
                margin: 0;
                padding: 0;
                width: 10px;
                height: 10px;
                background-color: #DFE6FE;
            }

            .swiper-pagination-bullet-active {
                background-color: #1D5DEB;
            }
        }
    }

    .real_company {
        overflow: hidden;

        .main_container {
            .real_company_cards {
                overflow: visible;
            }

            .real_company_cards_pagination {
                position: absolute;
                z-index: 2;
                bottom: 48px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;


                span {
                    margin: 0;
                    padding: 0;
                    width: 10px;
                    height: 10px;
                    opacity: 1;
                    background-color: #fff;
                }

                .swiper-pagination-bullet-active {
                    background-color: #1D5DEB;
                }
            }
        }
    }

    #reference {
        .links {
            padding-top: 23px;
            padding-bottom: 30px;

            li {
                margin-bottom: 15px;
            }
            
            a {
                font-size: 12px;
                line-height: 0px;
            }
        }

        .main_title {
            font-size: 20px;
        }

        .main_description {
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 21px;
        }

        .last_main_description {
            margin-bottom: 50px;
        }
    }

    #journal {
        .journal_cards {
            .card_item {
                width: calc(50% - 22px);
            }
        }
    }

    #examples {
        .example_main_container {
            overflow: hidden;
        }

        .card_1 {
            overflow: visible;
            margin-bottom: 18px;
            
            .card_content {
                border-radius: 15px;
                overflow: hidden;
                background: linear-gradient(90deg, #FAFBFF 0%, #BECEFF 100%);

                img {
                    width: 100%;
                    height: 188px;
                    object-fit: cover;
                }

                .text {
                    color: #0B1F33;
                    font-family: "Factor A", sans-serif;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                    padding: 10px 10px 21px;
                }
            }
        }

        .example_card_1_pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-bottom: 86px;

            span {
                margin: 0;
                padding: 0;
                width: 10px;
                height: 10px;
                background: #DFE6FE;
                opacity: 1;
            }

            .swiper-pagination-bullet-active {
                background: #1D5DEB;
            }
        }
    }

    #price {
        .text_wrapper {
            flex-direction: column;

            .text_left, .text_right {
                width: 100%;
            }
        }
    }

    #prices {
        .cards {
            .card_item {
                width: calc(50% - 26px);
            }
        }
    }

    #rates {
        .cards {
            gap: 20px;
            
            .card_item {
                width: 100%;
            }

            .card_number {
                display: none;
            }
        }
    }

    .index_card_in_wrapper {
        overflow: hidden;

        .index_card_in {
            overflow: visible;
            padding-bottom: 30px;
        }

        .scheme_work_4_pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-bottom: 60px;

            span {
                padding: 0;
                margin: 0;
                width: 10px;
                height: 10px;
                opacity: 1;
                background-color: #DFE6FE;
            }

            .swiper-pagination-bullet-active {
                background-color: #1D5DEB;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .index_bottom {
        margin: 40px auto;

        .main_container {
            .index_in {
                flex-direction: column;
                gap: 30px;

                .index_card {
                    h4 {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        margin-bottom: 5px;
                    }

                    p {
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px;
                        margin-bottom: 14px;
                    }

                    a {
                        padding: 7px 16px;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px;
                    }
                }
            }
        }
    }

    .index_bottom_text {
        img {
            border-radius: 20px;
        }
        
        .bottom_text {
            display: none;
            padding: 35px 0 50px 0;
            p {
                margin-bottom: 15px;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
            }
        }

        .bottom_text_media {
            display: block;
        }
    }

    #examples {
        h4 {
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 4px;
        }

        p {
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
        }

        .tab {
            margin: 32px 0 28px 0;
        }

        .example_card_1_pagination {
            margin-bottom: 30px;
        }
    }

    .examples {
        padding: 60px 0 40px 0;

        .examples_btns {
            a {
                width: 110px;
                height: 28px;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 27px;
            }
        }
    }

    .accident {
        padding: 60px 0 90px 0;
        .main_container {
            h2 {
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 4px;
            }
            p {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
            }
        }
    }

    .assistance {
        .main_container {
            h2 {
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 45px;
            }
        }
    }
}

@media only screen and (max-width: 773px) {
    .services_history {
        margin-bottom: 80px;
        .main_container {
            h2 {
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.4px;
                margin-bottom: 7px;
            }

            p {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
            }
        }
    }

    .real_company {
        .main_container {
            padding-top: 50px;
            h2 {
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.4px;
                margin-bottom: 7px;
            }

            p {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                margin-bottom: 24px;
            }

            .real_company_cards {
                padding-bottom: 80px;
                gap: 10px;
                .real_company_card {
                    padding: 18px 20px;

                    img {
                        width: 38px;
                        height: 38px;
                    }

                    h5 {
                        margin-top: 10px;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 27px;
                        margin-bottom: 0;
                    }

                    p {
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px;
                    }
                    
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100px;
                        height: 28px;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 27px;
                    }
                }
            }

            .bg_number {
                font-size: 80px;
                bottom: 12px;
                left: 0;    
                margin: 0 auto;
                display: flex;
                justify-content: center;
            }
        }
    }

    .advantages {
        .main_container {
            padding: 60px 0;
            h2 {
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.4px;
                margin-bottom: 30px;
            }

            .advantages_in {
                gap: 30px;
                flex-direction: column;

                .advantages_card {
                    h4 {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 27px;
                    }

                    p {
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px;
                    }
                }
            }
        }
    }

    .about_services {
        .main_container {
            padding: 50px 0;

            .bg_number {
                top: 7px;
                font-size: 80px;
            }
            h2 {
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.4px;
                margin-bottom: 4px;
            }

            p {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
            }

            .about_services_in {
                margin-top: 20px;
                gap: 13px;
                a {
                    width: calc(100% / 3 - 13px);
                }

                a:nth-child(10) {
                    display: none;
                }
            }
        }
    }

    .work {
        padding: 60px 0;
        .main_container {
            h2 {
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.4px;
                margin-bottom: 7px;
                margin-top: 0;
            }

            p {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
            }
        }

        .desktop_img {
            display: none;
        }

        .mobile_img {
            display: block;
        }
    }

    .partners {
        .main_container {
            padding: 50px 0 40px 0;

            .bg_number {
                top: 7px;
                font-size: 80px;
            }
            h2 {
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.4px;
                margin-bottom: 7px;
            }

            p {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
            }

            .about_services_in {
                margin-top: 20px;
                gap: 13px;

                a {
                    width: calc(100% / 3 - 13px);
                }

                a:nth-child(10) {
                    display: none;
                }
            }
        }
    }

    .comment {
        padding: 60px 0;
        .main_container {
            h2 {
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.4px;
                margin-bottom: 7px;
            }

            p {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                margin-bottom: 20px;
            }
        }
    }

    .newsline {
        padding: 44px 0 37px 0;
        .main_container {

            .newsline_content {
                margin-bottom: 0;

                ol, li {
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                }

                .link {
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                }
            }
            .bg_number_one {
                display: none;
            }

            .bg_number {
                top: auto;
                bottom: 314px;
                right: -309px;
                font-size: 165.6px;
                font-style: normal;
                font-weight: 900;
                line-height: 41.501px;
                text-transform: uppercase;
            }
            h2 {
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.4px;
                margin-bottom: 24px;
            }

            span {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                margin-bottom: 8px;
            }

            p {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                margin-bottom: 20px;
            }

            .newsline_link {
                width: 55px;
                height: 28px;
                padding: 7px 15px;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 27px;
            }

            .index_news_link {
                display: none;
            }
        }
    }

    .comment {
        .main_container {
            img {
                max-width: 100%;
            }
        }
    }

    .emergency {
        .main_container {
            padding: 60px 0 40px 0;
            h2 {
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.4px;
                margin-bottom: 7px;
            }

            p {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
            }

            .emergency_cards {
                margin: 0 10px;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                .emergency_card {
                    span {
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 27px;
                    }
                    
                    p {
                        margin-top: 0;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px;
                    }
                }
            }

            .emergency_link {
                width: 105px;
                height: 28px;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 27px;
                margin: 40px auto;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .home {
        .home_wrapper {
            .home_img {
                width: 310px;
                top: 170px;
            }

            .bg_number {
                font-size: 80px;
                font-style: normal;
                font-weight: 900;
                line-height: 20.049px;
            }

            .home_text {
                margin-top: 21px;
                padding-bottom: 25px;
                
                h1 {
                    font-size: 24px;
                    line-height: 25px;
                    text-align: center;
                    margin-left: 13px;
                    margin-right: 13px;
                    margin-bottom: 12px;
                }

                p {
                    font-size: 12px;
                    line-height: 18px;
                    margin-left: 38px;
                    margin-right: 38px;
                    text-align: center;
                    max-width: 100%;
                    margin-bottom: 20px;
                }
                
                .home_btns {
                    transform: translate(8px, 4px);
                    justify-content: center;
                    align-items: center;
                    gap: 9.5px;
                    margin-bottom: 180px;

                    a {
                        padding: 7px 21px;
                        font-size: 21.64px;
                        gap: 7px;

                        img {
                            width: 18px;
                        }
                    }

                    .icon {
                        width: 36px;
                    }
                }

                .home_bottom {
                    gap: 10px;

                    .home_bottom_block {
                        flex-direction: column;
                        gap: 10px;

                        span {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    #magazine_home {
        background-image: url('../images/magazine_media_img.png');
        
        .breadcrumb {
            padding-top: 9px;
            padding-bottom: 14px;
            ul {
                li {
                    a, span {
                        font-size: 11px;
                    }
                }
            }
        }

        .main_container {
            .magazine_home_in {
                padding-bottom: 23px;
                h1 {
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 26px;
                    padding-bottom: 9px;
                    margin-bottom: 0;
                }

                .magazine_date {
                    font-size: 12px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px; 
                }
            }

        }
    }

    .main_container {
        .magazine_text {
            margin-bottom: 50px;
            margin-top: 23px;
            p {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px; 
                margin-bottom: 27px;
            }

            p:nth-child(2) {
                margin-bottom: 20px;
            }
    
            h2 {
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 7px;
            }

            p {
                margin-bottom: 19px;
            }

            h3 {
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .magazine_list_title {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            ul, ol {
                li {
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 17px;
                }
            }
        }
    }

    .scheme_work {
        .title {
            font-size: 20px;
            margin-bottom: 7px;
        }

        .description {
            font-size: 12px;
            line-height: 18px;
            margin-left: 24px;
            margin-right: 24px;
            margin-bottom: 24px;
        }

        .sheme_work_slider {
            .slide_content {
                min-height: 201px;
                padding: 25px 11px 25px 31px;

                .number {
                    top: 33px;
                    right: 36px;
                }

                .slide_title {
                    font-size: 14px;
                    
                    br {
                        display: none;
                    }
                }

                .slide_description {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }

        .description_2 {
            display: none;
        }
    }
    #chapter {
        .chapter_cards {
            margin-top: 43px;
            margin-bottom: 50px;
            gap: 20px;

            .card_item {
                width: 100%;

                .card_title {
                    font-size: 14px;
                }

                ul li {
                    font-size: 12px;
                }
            }
        }
    }
    
    #contact {
        .address {
            margin-bottom: 27px;

            .title {
                font-size: 20px;
                margin: 23px 0 20px;
            }

            .address_data {
                gap: 20px;
            }

            .address_name {
                font-size: 12px;
                line-height: 18px;
            }

            .address_value {
                font-size: 12px;
                line-height: 18px;
                display: block;
            }
        }

        .map iframe {
            height: 274px;
        }

        .contact_card {
            margin: 20px 0 50px;
        }
    }

    #clients {
        .clients_container {
            padding-top: 23px;
            padding-bottom: 30px;
        }

        .main_title {
            font-size: 20px;
        }

        .main_description {
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 20px;
        }
    }

    #journal {
        .journal_cards {
            gap: 15px;
            margin-top: 50px;
            margin-bottom: 50px;

            .card_item {
                width: 100%;

                img {
                    height: 141px;
                }

                .card_item_body {
                    .date {
                        font-size: 11px;
                    }

                    .card_description {
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
            }
        }
    }

    #examples {
        .tab {
            gap: 30px;
            
            a {
                font-size: 12px;
            }

            a.active {
                font-size: 12px;
                padding: 0px 15px;
            }
        }

        .main_title {
            font-size: 20px;
            margin-bottom: 4px;
        }

        .main_description {
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 26px;
        }

        .card_wrapper {
            gap: 20px;
            margin-bottom: 50px;

            .card_item {
                width: 100%;

                img {
                    height: 176px;
                }

                .example_card_2_pagination {
                    top: 141px;
                    height: 10px;

                    span {
                        min-width: 10px;
                        height: 10px;
                    }
                }

                .text {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }

    #price {
        .text_wrapper {
            margin: 23px auto 50px;
            gap: 30px;

            .description {
                font-size: 12px;
                line-height: 18px;
            }

            .main_title {
                font-size: 20px;
            }

            .main_title_2 {
                font-size: 16px;
            }

            .text_left {
                ul, ol {
                    li {
                        font-size: 12px;
                    }
                }
            }

            .data_list {
                margin-bottom: 30px;
                margin-top: 0;

                .datas {
                    gap: 30px;
                    padding: 10px 20px;

                    .data_name {
                        font-size: 12px;
                    }

                    .data_value {
                        font-size: 12px;
                        white-space: nowrap;
                    }
                }
            }

            .links {
                margin-right: 40px;

                a {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }

    #prices {
        .cards {
            gap: 20px;
            padding-top: 50px;
            padding-bottom: 40px;

            .card_item {
                width: 100%;

                .card_text {
                    min-height: 88px;
                }

                .text_title {
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 18px;
                }

                .text_subtitle {
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 27px;
                }
            }
        }
    }

    #rates {
        .cards {
            padding-top: 50px;
            padding-bottom: 40px;

            .card_title {
                font-size: 20px;
                margin-bottom: 6px;
            }
    
            .card_content {
                padding: 40px 35px 40px 21px;
            }
    
            .card_alert {
                width: 117px;
                height: 27px;
                font-size: 12px;
            }
    
            .card_subtitle {
                font-size: 12px;
                margin-bottom: 24px;
            }
    
            ul {
                li {
                    font-size: 12px;
                }
            }
        }
    }
}