*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// font linklari uchun joy
// body{
// assosiy shriftni berib qo'yamiz
// }

.main_container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

// bu joyga sliderni olib kelib bog'lab qo'ysak bo'ladi splide ularni ham css filini scss qilib qo'yishimiz kerak
@import './parts/var';
@import './parts/mixin';
@import './parts/tag';
@import './parts/grid';
@import './parts/class';
@import './parts/header';
@import './parts/footer';